{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "singleQuote": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
